<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>Get help on rails <a href='http://railstutorial.org/help'>here</a> 
for help on this app find it in the <a href='http://railstutorial.org/book'>book </a>
</p>
